* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
svg {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

:root {
  --primary-font: "Inter", sans-serif;
  --text-bg: #2D2D2D;
  --header-bg: #1b2e3fc7;
  --text-color: #FFFFFF;
}

body{
  background: rgba(168, 185, 186, 0.81);
  font-family: var(--primary-font);
}

.error-message{
  color: red;
  font-size: 18px;
  position: absolute;
  bottom: -10px;
}